{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main gallery-content" role="main">
        {{ content }}
    <h1>{{ meta.title }}</h1>
    <div class="gallery">

    {# ARTIC FOX #}
    <a href="{{ base_url }}/image/gallery/artic-fox.jpg"> 
    <picture class="gallery-artic-fox">
    <source srcset="{{ base_url }}/image/gallery/artic-fox.jpg?h=350&w=350&crop-to-fit&area=0,20,0,0&q=90" media="(min-width: 1200px)">
    <source srcset="{{ base_url }}/image/gallery/artic-fox.jpg?h=300&w=300&crop-to-fit&area=0,20,0,0&q=90" media="(min-width: 1024px)">
    <source srcset="{{ base_url }}/image/gallery/artic-fox.jpg?h=250&w=250&crop-to-fit&area=0,20,0,0&q=90" media="(min-width: 900px)">
    <source srcset="{{ base_url }}/image/gallery/artic-fox.jpg?h=200&w=200&crop-to-fit&area=0,20,0,0&q=90" media="(min-width: 768px)">
    <source srcset="{{ base_url }}/image/gallery/artic-fox.jpg?h=250&w=250&crop-to-fit&area=0,20,0,0&q=90" media="(min-width: 532px)">
    <source srcset="{{ base_url }}/image/gallery/artic-fox.jpg?h=350&w=350&crop-to-fit&area=0,20,0,0&q=90" media="(min-width: 480px)">
    <img alt="En fjällräv som kollar till höger" src="{{ base_url }}/image/gallery/artic-fox.jpg?h=260&w=260&crop-to-fit&area=0,20,0,0">
    </picture>
    </a>

    {# CICKEN #}
    <a href="{{ base_url }}/image/gallery/chicken.jpg">
    <picture class="gallery-chicken">
    <source srcset="{{ base_url }}/image/gallery/chicken.jpg?h=350&w=350&crop-to-fit&q=90" media="(min-width: 1200px)">
    <source srcset="{{ base_url }}/image/gallery/chicken.jpg?h=300&w=300&crop-to-fit&q=90" media="(min-width: 1024px)">
    <source srcset="{{ base_url }}/image/gallery/chicken.jpg?h=250&w=250&crop-to-fit&q=90" media="(min-width: 900px)">
    <source srcset="{{ base_url }}/image/gallery/chicken.jpg?h=200&w=200&crop-to-fit&q=90" media="(min-width: 768px)">
    <source srcset="{{ base_url }}/image/gallery/chicken.jpg?h=250&w=250&crop-to-fit&q=90" media="(min-width: 532px)">
    <source srcset="{{ base_url }}/image/gallery/chicken.jpg?h=350&w=350&crop-to-fit&q=90" media="(min-width: 480px)">
    <img alt="Två gula kycklingar" src="{{ base_url }}/image/gallery/chicken.jpg?h=260&w=260&crop-to-fit">
    </picture>

    {# FOX #}
    </a>
    <a href="{{ base_url }}/image/gallery/fox.jpg"> 
    <picture class="gallery-fox">
    <source srcset="{{ base_url }}/image/gallery/fox.jpg?h=350&w=350&crop-to-fit&area=0,10,0,0&q=90" media="(min-width: 1200px)">
    <source srcset="{{ base_url }}/image/gallery/fox.jpg?h=300&w=300&crop-to-fit&area=0,10,0,0&q=90" media="(min-width: 1024px)">
    <source srcset="{{ base_url }}/image/gallery/fox.jpg?h=250&w=250&crop-to-fit&area=0,10,0,0&q=90" media="(min-width: 900px)">
    <source srcset="{{ base_url }}/image/gallery/fox.jpg?h=200&w=200&crop-to-fit&area=0,10,0,0&q=90" media="(min-width: 768px)">
    <source srcset="{{ base_url }}/image/gallery/fox.jpg?h=250&w=250&crop-to-fit&area=0,10,0,0&q=90" media="(min-width: 532px)">
    <source srcset="{{ base_url }}/image/gallery/fox.jpg?h=350&w=350&crop-to-fit&area=0,10,0,0&q=90" media="(min-width: 480px)">
    <img alt="En röd räv" src="{{ base_url }}/image/gallery/fox.jpg?h=260&w=260&crop-to-fit&area=0,10,0,0">
    </picture>
    </a>

    {# MEERCAT #}
    <a href="{{ base_url }}/image/gallery/meercat.jpg"> 
    <picture class="gallery-meercat">
    <source srcset="{{ base_url }}/image/gallery/meercat.jpg?h=350&w=350&crop-to-fit&q=90" media="(min-width: 1200px)">
    <source srcset="{{ base_url }}/image/gallery/meercat.jpg?h=300&w=300&crop-to-fit&q=90" media="(min-width: 1024px)">
    <source srcset="{{ base_url }}/image/gallery/meercat.jpg?h=250&w=250&crop-to-fit&q=90" media="(min-width: 900px)">
    <source srcset="{{ base_url }}/image/gallery/meercat.jpg?h=200&w=200&crop-to-fit&q=90" media="(min-width: 768px)">
    <source srcset="{{ base_url }}/image/gallery/meercat.jpg?h=250&w=250&crop-to-fit&q=90" media="(min-width: 532px)">
    <source srcset="{{ base_url }}/image/gallery/meercat.jpg?h=350&w=350&crop-to-fit&q=90" media="(min-width: 480px)">
    <img alt="Två lemurer" src="{{ base_url }}/image/gallery/meercat.jpg?h=260&w=260&crop-to-fit">
    </picture>
    </a>

    {# OWL #}
    <a href="{{ base_url }}/image/gallery/owl.jpg">
    <picture class="gallery-owl">
    <source srcset="{{ base_url }}/image/gallery/owl.jpg?h=350&w=350&crop-to-fit&area=0,0,30,0&q=90" media="(min-width: 1200px)">
    <source srcset="{{ base_url }}/image/gallery/owl.jpg?h=300&w=300&crop-to-fit&area=0,0,30,0&q=90" media="(min-width: 1024px)">
    <source srcset="{{ base_url }}/image/gallery/owl.jpg?h=250&w=250&crop-to-fit&area=0,0,30,0&q=90" media="(min-width: 900px)">
    <source srcset="{{ base_url }}/image/gallery/owl.jpg?h=200&w=200&crop-to-fit&area=0,0,30,0&q=90" media="(min-width: 768px)">
    <source srcset="{{ base_url }}/image/gallery/owl.jpg?h=250&w=250&crop-to-fit&area=0,0,30,0&q=90" media="(min-width: 532px)">
    <source srcset="{{ base_url }}/image/gallery/owl.jpg?h=350&w=350&crop-to-fit&area=0,0,30,0&q=90" media="(min-width: 480px)">
    <img alt="En uggla" src="{{ base_url }}/image/gallery/owl.jpg?h=260&w=260&crop-to-fit&area=0,0,30,0">
    </picture>
    </a>

    {# SHEEP #}
    <a href="{{ base_url }}/image/gallery/sheep.jpg">
    <picture class="gallery-sheep">
    <source srcset="{{ base_url }}/image/gallery/sheep.jpg?h=350&w=350&crop-to-fit&area=20,0,0,0&q=90" media="(min-width: 1200px)">
    <source srcset="{{ base_url }}/image/gallery/sheep.jpg?h=300&w=300&crop-to-fit&area=20,0,0,0&q=90" media="(min-width: 1024px)">
    <source srcset="{{ base_url }}/image/gallery/sheep.jpg?h=250&w=250&crop-to-fit&area=20,0,0,0&q=90" media="(min-width: 900px)">
    <source srcset="{{ base_url }}/image/gallery/sheep.jpg?h=200&w=200&crop-to-fit&area=20,0,0,0&q=90" media="(min-width: 768px)">
    <source srcset="{{ base_url }}/image/gallery/sheep.jpg?h=250&w=250&crop-to-fit&area=20,0,0,0&q=90" media="(min-width: 532px)">
    <source srcset="{{ base_url }}/image/gallery/sheep.jpg?h=350&w=350&crop-to-fit&area=20,0,0,0&q=90" media="(min-width: 480px)">
    <img alt="Ett får som springer" src="{{ base_url }}/image/gallery/sheep.jpg?h=260&w=260&crop-to-fit&area=20,0,0,0">
    </picture>
    </a>

    </div>

    <div class="embed-container">
    <iframe title="Trailer to netflixs dancing with the birds" src="https://www.youtube.com/embed/Eg0iSIHIK34" frameborder="0" allowfullscreen></iframe>
</div>  
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
